<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <script src="https://kit.fontawesome.com/e0d690f1d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <nav class="navbar">
        <div id="navbar">
            <a href="#default" id="logo">Contact</a>
            <div id="navbar-right">
              <a href="./">Home</a>
              <a href="#contact">Contact</a>
            </div>
        </div>
    </nav>

    <main class="content">
        <div class="grid">
            <span style="font-size: 3em;">
                <a href="https://www.instagram.com/it_s_sharma_ji/" target="_blank"><i class="fab fa-instagram link"></i></a>
            </span>
            <span style="font-size: 3em;">
                <a href="https://www.linkedin.com/in/ankit-sharma-082a14120" target="_blank"><i class="fab fa-linkedin link"></i></a>
            </span>
            <span style="font-size: 3em;">
                <a href="https://github.com/Mistaken-JOKESTER " target="_blank"><i class="fab fa-github-square link"></i></a>
            </span>
            <!-- <span style="font-size: 3em;">
                <a href="ankitshamrarock99@gmail.com" target="_blank"><i class="fas fa-envelope link"></i></a>
            </span> -->
        </div>
        
    </main>
    
    <script src="/js/script.js"></script>
</body>
</html>