<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankit Sharma</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div id="navbar">
            <a href="#default" id="logo">Ankit Sharma</a>
            <div id="navbar-right">
              <a href="#home">Home</a>
              <a href="./about.html">Contact</a>
            </div>
        </div>
    </nav>

    <main class="content">
        <div class="wrapper">
            <div class="imageDiv">
                <img src="../public/pics/ankit-color.jpg" alt="" class="myImage1">
                <img src="../public/pics/ankit-baw.jpg" alt="" class="myImage2">
            </div>
            <div class="aboutMe">
                <p>Hello my friend, I am Ankit Sharm and <strong>Electronics and Communication Engineer</strong> by proffesion.
                Besides that I am <strong>Web Developer</strong>, <strong>Graphic Designer</strong> and an <Strong>Intersting Person</Strong>.
                If you want to know more about me just hit me on Insta or LinkedIn</p>
            </div>
        </div>
        <div class="space">

        </div>
        <div class="hr">
            <hr>
        </div>
        <div class="heading">
            <h1 class="myProjects">My Projects</h1>
        </div>
        <div class="hr">
            <hr>
        </div>

        <div class="space"></div>

        <div class="cardContainer">
            <div class="card">
                    <a href="#git"><img class="card-links card1" src="../public/pics/gitCard-01.jpg" alt="" id="card1"></a>
                    <a href="#graphic"><img class="card-links card2" src="../public/pics/photoCard-01.jpg" alt="" id="card2"></a>
                    <a href="#ece"><img class="card-links card3" src="../public/pics/eceCard-01.jpg" alt="" id="card3"></a>
                    <a href="#unity"><img class="card-links card4" src="../public/pics/unityCard-01.jpg" alt="" id="card4"></a>
            </div>
        </div>

        <div class="space"></div>

        <div class="pamplet hide" id="git">
            <div class="info1">
                <div><img src="../public/pics/gitLogo.png" alt="gitLogo"></div>
                <div>
                    <h1>GitHub</h1>
                    <a href=""><h3 class="link">@MISTAKEN-Jokester</h3></a>
                </div>
            </div>
            <div class="gitGrid">
                <div>
                    <div><img src="../public/pics/git/shop.png" alt="" ></div>
                    <div>E-commerce Website</div>
                </div>
                <div>
                    <div><img src="../public/pics/git/chat.png" alt=""></div>
                    <div>Simple Chat APP</div>
                </div>
                <div>
                    <div><img src="../public/pics/git/todo.png" alt=""></div>
                    <div>ToDo List Api</div>
                </div>
                <div>
                    <div><img src="../public/pics/git/drone.png" alt=""></div>
                    <div>Drone Managment Api</div>
                </div>
            </div>
        </div>

        <div class="pamplet hide" id="graphic">
            <div class="info1">
                <div><img src="../public/pics/designerLogo.jpg" alt="gitLogo"></div>
                <div>
                    <h1>Graphic Designer</h1>
                    <a href="https://www.instagram.com/it_s_sharma_ji/"><h3 class="link">@It_s_sharma_ji</h3></a>
                </div>
            </div>
            <div class="graphicGrid">
                <div>
                    <div><img src="../public/pics/grpahic/adobeXd.png" alt=""></div>
                    <div>Adobe Xd</div>
                </div>
                <div>
                    <div><img src="../public/pics/grpahic/photoshop.png" alt=""></div>
                    <div>Adobe Phtoshop</div>
                </div>
                <div>
                    <div><img src="../public/pics/grpahic/illustrator.png" alt=""></div>
                    <div>Adobe Illustrator</div>
                </div>
                <div>
                    <div><img src="../public/pics/grpahic/sketchbook.png" alt=""></div>
                    <div>Sketchbook</div>
                </div>
                <div>
                    <div><img src="../public/pics/grpahic/afterEffects.png" alt=""></div>
                    <div>Adobe After Effects</div>
                </div>
                <div>
                    <div><img src="../public/pics/grpahic/lightroom.png" alt=""></div>
                    <div>Adobe Lightroom</div>
                </div>
            </div>
        </div>
        <div class="pamplet hide" id="ece">
            <div class="info1">
                <div><img src="../public/pics/ecelogo.png" alt="gitLogo"></div>
                <div>
                    <h1>Electronics & Communication</h1>
                    <a href=""><h3 class="link">Engineer</h3></a>
                </div>
            </div>
            <div class="engGrid">
                <div>
                    <div><img src="../public/pics/engineer/construction.png" alt=""></div>
                    <div>Under Construction, you have to wait until i finish my B.E in ECE and I dont have any special projects</div>
                </div>
            </div>
        </div>

        <div class="pamplet hide" id="unity">
            <div class="info1">
                <div><img src="../public/pics/unityLogo.png" alt="gitLogo"></div>
                <div>
                    <h1>Game Devlopment</h1>
                    <a href=""><h3 class="link">Unity</h3></a>
                </div>
            </div>
            <div class="center">
                <h1>Just Jump</h1>
            </div>
            <div class="unityGrid">
                <div>
                    <img src="../public/pics/Unity/jump1.PNG" alt="">
                </div>
                <div>
                    <img src="../public/pics/Unity/jump2.PNG" alt="">
                </div>
                <div>
                    <img src="../public/pics/Unity/jump3.PNG" alt="">
                </div>
                <div>
                    <img src="../public/pics/Unity/jump4.PNG" alt="">
                </div>
            </div>
        </div>
    </main>

    <script src="../public/js/script.js"></script>
</body>
</html>